
.nav {

    margin: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Courier New", Helvetica, sans-serif;
    /*border: 1px solid black;*/
    background-color: #0033a0;
    height: 120px;

}

.nav a{
  padding-right: 30px;

}

.text-nav {
  margin-top: 100px;
}

.text-elements{
  padding-top: 50px;
}

.pull-left {
  padding-bottom: 70px;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

.btn-primary:link {
  color: white;
  border-radius: 15px;
  padding: 10px;
  background-color:#0033a0;
  font-size: 35px;

}

.btn-primary:visited {
  background-color:#0033a0
}


}
/*.body {
    background-color: ##000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-size: cover;
    padding-bottom: 20px;
    border: 1px solid red;
  }*/
.land-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  /*border: 1px solid black;*/
  width: 100%
}

.land-header p{
  text-align: center;
  font-size: 90px;
}

.col-sm-4 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ticket-container {
  padding-top: 150px;
  padding-right: 30px;
}
.com-sm-4 h1 {
  text-align: center;
  font-size: 30px;
}

.footer {
  background-color: grey;
  border: 1px solid #A9A9A9;
}

.footer h1 {
  text-align: center;
  color: white;
}

.footer h4 {
  text-align: center;
  color: white;
}


/* INFO */

.about-event-col-sm-4 {
  text-align: center;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-image-col-sm-4 {
  width: 300px;
  float: left;
  margin-left: 100px;
}

.artist-col-sm-4 {
  width: 400px;
  float: right;
  margin-right: 150px;
}

.artist-col-sm-4 h1{
  text-align: center;
  margin-left: 20px
}

ul {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style-type: none;
    text-align: center;
}

.artist-col-sm-4 h2{
  text-align: center;
  margin-left: 20px
}

.btn-primary {
  margin-top: 700px;

}
.info-btn-col-sm-4 h6 {
  text-align: left;
}

.artist-col-sm-4 h4 {
  text-align: center;
  font-size: 25px;
}
